[package]
name = "glados"
version = "0.1.0"
edition = "2021"
rust-version = "1.70.0"
authors = ["Piper Merriam <piper@pipermerriam.com>"]

[workspace]
members = [".", "glados-cartographer", "glados-core", "glados-web", "glados-monitor", "entity", "migration"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
entity = { path = "entity" }
glados-core = { path = "glados-core" }
glados-monitor = { path = "glados-monitor" }
glados-audit = { path = "glados-audit" }
glados-web = { path = "glados-web" }
migration = { path = "migration" }
tokio = { version = "1", features = ["full"] }
