version: '3'
services:

  glados_postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${GLADOS_POSTGRES_PASSWORD?Glados Postgres Password Required}
      POSTGRES_DB: glados
      PANDAOPS_ID: ${GLADOS_PANDAOPS_ID?Glados Pandaops ID Required}
      PANDAOPS_SECRET: ${GLADOS_PANDAOPS_SECRET?Glados Pandaops Secret Required}
    volumes:
      - ${GLADOS_POSTGRES_DATA_DIR?Glados Postgres Data Directory Required}:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - glados-net
    restart: always

  portal_client:
    extends:
      file: docker-compose-clients.yml
      service: ${GLADOS_PORTAL_CLIENT?Glados portal client required}
    hostname: portal-client
    network_mode: "host"
    restart: always

  glados_audit:
    command: "--database-url postgres://postgres:${GLADOS_POSTGRES_PASSWORD}@glados_postgres:5432/glados --portal-client http://host.docker.internal:8545 --concurrency 8 --latest-strategy-weight 6 --four-fours-strategy-weight 80 --provider-url ${GLADOS_PROVIDER_URL?Provider URL required}"
    image: portalnetwork/glados-audit:latest
    environment:
      RUST_LOG: warn,glados_audit=info
    depends_on:
      - glados_postgres
      - portal_client
    networks:
      - glados-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  glados_audit_state:
    command: "--database-url postgres://postgres:${GLADOS_POSTGRES_PASSWORD}@glados_postgres:5432/glados --portal-client http://host.docker.internal:8545 --state --history=false"
    image: portalnetwork/glados-audit:latest
    environment:
      RUST_LOG: warn,glados_audit=info
    depends_on:
      - glados_postgres
      - portal_client
    networks:
      - glados-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  glados_audit_beacon:
    command: "--database-url postgres://postgres:${GLADOS_POSTGRES_PASSWORD}@glados_postgres:5432/glados --portal-client http://host.docker.internal:8545 --beacon --history=false"
    image: portalnetwork/glados-audit:latest
    environment:
      RUST_LOG: warn,glados_audit=info
    depends_on:
      - glados_postgres
      - portal_client
    networks:
      - glados-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  glados_monitor:
    command: "--database-url postgres://postgres:${GLADOS_POSTGRES_PASSWORD}@glados_postgres:5432/glados follow-head --provider-url ${GLADOS_PROVIDER_URL?Glados monitor provider URL required}"
    image: portalnetwork/glados-monitor:latest
    environment:
      RUST_LOG: warn,glados_monitor=info
    depends_on:
      - glados_audit
      - glados_postgres
    networks:
      - glados-net
    restart: always

  glados_monitor_state:
    command: "--database-url postgres://postgres:${GLADOS_POSTGRES_PASSWORD}@glados_postgres:5432/glados populate-state-roots-range --provider-url ${GLADOS_PROVIDER_URL?Glados monitor provider URL required} --start-block-number 0 --end-block-number 1000001"
    image: portalnetwork/glados-monitor:latest
    environment:
      RUST_LOG: warn,glados_monitor=info
    depends_on:
      - glados_audit
      - glados_postgres
    networks:
      - glados-net
    restart: always

  glados_monitor_beacon:
    command: "--database-url postgres://postgres:${GLADOS_POSTGRES_PASSWORD}@glados_postgres:5432/glados follow-beacon-pandaops"
    image: portalnetwork/glados-monitor:latest
    environment:
      RUST_LOG: warn,glados_monitor=info
      PANDAOPS_CLIENT_ID: ${GLADOS_PANDAOPS_ID?Glados Pandaops ID Required}
      PANDAOPS_CLIENT_SECRET: ${GLADOS_PANDAOPS_SECRET?Glados Pandaops Secret Required}
    depends_on:
      - glados_audit
      - glados_postgres
    networks:
      - glados-net
    restart: always

  glados_web:
    command: "--database-url postgres://postgres:${GLADOS_POSTGRES_PASSWORD}@glados_postgres:5432/glados"
    image: portalnetwork/glados-web:latest
    environment:
      RUST_LOG: warn,glados_web=info
    depends_on:
      - glados_monitor
      - glados_postgres
    ports:
      - "3001:3001"
    networks:
      - glados-net
    restart: always

  glados_cartographer_history:
    command: "--database-url postgres://postgres:${GLADOS_POSTGRES_PASSWORD}@glados_postgres:5432/glados --transport http --http-url http://host.docker.internal:8545 --concurrency 10 --subnetwork history"
    image: portalnetwork/glados-cartographer:latest
    environment:
      RUST_LOG: warn,glados_cartographer=info
    depends_on:
      - glados_web
      - glados_postgres
      - portal_client
    networks:
      - glados-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  glados_cartographer_state:
    command: "--database-url postgres://postgres:${GLADOS_POSTGRES_PASSWORD}@glados_postgres:5432/glados --transport http --http-url http://host.docker.internal:8545 --concurrency 10 --subnetwork state"
    image: portalnetwork/glados-cartographer:latest
    environment:
      RUST_LOG: warn,glados_cartographer=info
    depends_on:
      - glados_web
      - glados_postgres
      - portal_client
    networks:
      - glados-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  glados_cartographer_beacon:
    command: "--database-url postgres://postgres:${GLADOS_POSTGRES_PASSWORD}@glados_postgres:5432/glados --transport http --http-url http://host.docker.internal:8545 --concurrency 10 --subnetwork beacon"
    image: portalnetwork/glados-cartographer:latest
    environment:
      RUST_LOG: warn,glados_cartographer=info
    depends_on:
      - glados_web
      - glados_postgres
      - portal_client
    networks:
      - glados-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

networks:
  glados-net:
    driver: bridge
