<div class="row">
    <div class="col">
        <ul>
            <div class="card shadow-sm content-card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Audit</th>
                                <th scope="col">Result</th>
                                <th scope="col">Sub-protocol</th>
                                <th scope="col">Strategy</th>
                                <th scope="col">Content Key</th>
                                <th scope="col">Content ID</th>
                                <th scope="col">Content first available</th>
                                <th scope="col">Audited at</th>
                                <th scope="col">Client</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for (audit, content, client_info) in audits %}
                            <tr>
                                <td>{% if audit.trace != "" %}<a href="/audit/id/{{ audit.id }}">{{ audit.id }}</a>{%
                                    else
                                    %}
                                    {{ audit.id }}{% endif %}
                                </td>
                                <td><span
                                        class="badge text-bg-{% if audit.is_success() %}success{% else %}danger{% endif %}">{%
                                        if audit.is_success() %}Success{% else %}Fail{% endif %}</span></td>
                                <td>{{ content.protocol_id.as_text() }}</td>
                                <td>{{ audit.strategy_as_text() }}</td>
                                <td><a href="/content/key/{{content.key_as_hex()}}/">{{ content.key_as_hex_short()
                                        }}</a>
                                </td>
                                <td><a href="/content/id/{{content.id_as_hex()}}/">{{ content.id_as_hex_short() }}</a>
                                </td>
                                <td title="{{ content.available_at_local_time() }}">{{ content.available_at_humanized()
                                    }}</td>
                                <td title="{{ audit.created_at_local_time() }}">{{ audit.created_at_humanized() }}</td>
                                <td>{{ client_info.version_info }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
</div>
