{% extends "base.html" %}

{% block title %}Audit Dashboard{% endblock %}
{% block head %}
<link href="/static/css/glados_pages.css" rel="stylesheet">
<link href="/static/css/spin.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <br />
        <h1 class="header text-center">Audit Dashboard</h1>
        <div class="d-flex justify-content-center flex-wrap">
            <div id="content-buttons" class="btn-group mx-1" role="group">
                <button id="all-content-button" filter="" class="btn btn-outline-secondary"
                    type="button">All</button>
                {% for content_type in content_types %}
                <button
                    class="btn btn-outline-secondary"
                    id="{{content_type.get_serializations()[0]}}-content-button"
                    type="button"
                    filter="{{content_type.get_serializations()[0]}}">
                        {{content_type.get_message().expect("Subprotocol missing message")}}
                </button>
                {% endfor %}
            </div>
            <div id="strategy-buttons" class="btn-group mx-1" role="group">
                <button id="all-strategy-button" filter="" class="btn btn-outline-secondary"
                    type="button">All</button>
                {% for strategy in strategies %}
                <button
                    class="btn btn-outline-secondary"
                    id="{{strategy.get_serializations()[0]}}-strategy-button"
                    type="button"
                    filter="{{strategy.get_serializations()[0]}}">
                      {{strategy.get_message().expect("Strategy missing message")}}
                </button>
                {% endfor %}
            </div>
            <div id="audit-result-buttons" class="btn-group mx-1 " role="group">
                <button id="all-audit-result-button" filter="" class="btn btn-outline-secondary"
                    type="button">All</button>
                {% for audit_result in audit_results %}
                <button
                    class="btn btn-outline-secondary"
                    id="{{audit_result.get_serializations()[0]}}-audit-result-button"
                    type="button"
                    filter="{{audit_result.get_serializations()[0]}}">
                      {{audit_result.get_message().expect("Audit Result missing message")}}
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="card shadow-sm content-card bx-2 mb-3">
        <div class="table-responsive">
            <table class="table" id="audit-summary">
                <thead>
                <tr>
                    <th scope="col">Period</th>
                    <th scope="col">Total audits</th>
                    <th scope="col">Total audit passes</th>
                    <th scope="col">Total audit failures</th>
                    <th scope="col"><span class="badge text-bg-success">Pass rate</span> (%)</th>
                    <th scope="col"><span class="badge text-bg-danger">Failure rate</span> (%)</th>
                    <th scope="col">Audits per minute</th>
                </tr>
                </thead>
                <tbody>
               </tbody>
            </table>
        </div>
    </div>
    <div class="card shadow-sm content-card">
        <div class="table-responsive">
            <table class="table" id="audit-list">
                <thead>
                    <tr>
                        <th scope="col">Audit</th>
                        <th scope="col">Result</th>
                        <th scope="col">Content Type</th>
                        <th scope="col">Strategy</th>
                        <th scope="col">Content Key</th>
                        <th scope="col">Content ID</th>
                        <th scope="col">Content first available</th>
                        <th scope="col">Audited</th>
                        <th scope="col">Client</th>
                    </tr>
                    </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .btn-outline-secondary.active {
        background-color: #474747;
    }
    #graph {
        position: relative;
    }
    #sort-toggle {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .table {
        min-height: 150px;
    }
</style>
<script type="module">
    import {initAuditDashboard} from "../static/js/audit_dashboard.js";
    initAuditDashboard();
</script>


{% endblock %}
