{% extends "base.html" %}

{% block title %}Content Dashboard{% endblock %}
{% block head %}
<link href="/static/css/glados_pages.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <ul>
            <br/>
            <h1 class="header">Content Dashboard</h1>
            <br/>
            <div class="card shadow-sm content-card">
                <div class="card-body">
                    <h2 class="header">Audit stats</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Period</th>
                            <th scope="col">New content</th>
                            <th scope="col">Total audits</th>
                            <th scope="col">Total audit passes</th>
                            <th scope="col">Total audit failures</th>
                            <th scope="col"><span class="badge text-bg-success">Pass rate</span> (%)</th>
                            <th scope="col"><span class="badge text-bg-danger">Failure rate</span> (%)</th>
                            <th scope="col">Audits per minute</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stat in stats %}
                        <tr>
                            <th scope="row">{{ stat.period.to_string() }}</th>
                            <td>{{ stat.new_content }}</td>
                            <td>{{ stat.total_audits }}</td>
                            <td>{{ stat.total_passes }}</td>
                            <td>{{ stat.total_failures }}</td>
                            <td>{{ stat.passes_per_100 }}%</td>
                            <td>{{ stat.failures_per_100 }}%</td>
                            <td>{{ stat.audits_per_minute }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <div class="card shadow-sm content-card">
                <div class="card-body">
                    <h2 class="header"> Recent content with audits</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Audit</th>
                            <th scope="col">Result</th>
                            <th scope="col">Sub-protocol</th>
                            <th scope="col">Strategy</th>
                            <th scope="col">Content Key</th>
                            <th scope="col">Content ID</th>
                            <th scope="col">Content first available</th>
                            <th scope="col">Audited at</th>
                            <th scope="col">Client</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for (audit, content, client_info) in audits_of_recent_content %}
                        <tr>
                            <td>{% if audit.trace != "" %}<a href="/audit/id/{{ audit.id }}">{{ audit.id }}</a>{% else
                                %}
                                {{ audit.id }}{% endif %}
                            </td>
                            <td><span
                                    class="badge text-bg-{% if audit.is_success() %}success{% else %}danger{% endif %}">{%
                                if audit.is_success() %}Success{% else %}Fail{% endif %}</span></td>
                            <td>{{ content.protocol_id.as_text() }}</td>
                            <td>{{ audit.strategy_as_text() }}</td>
                            <td><a href="/content/key/{{content.key_as_hex()}}/">{{ content.key_as_hex_short() }}</a>
                            </td>
                            <td><a href="/content/id/{{content.id_as_hex()}}/">{{ content.id_as_hex_short() }}</a></td>
                            <td>{{ content.available_at_local_time() }}</td>
                            <td>{{ audit.created_at_local_time() }}</td>
                            <td>{{ client_info.version_info }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <div class="card shadow-sm content-card">
                <div class="card-body">
                    <h2 class="header">Recent Content</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Sub-protocol</th>
                            <th scope="col">Content Key</th>
                            <th scope="col">Content ID</th>
                            <th scope="col">Content first available</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for content in contentid_list %}
                        <tr>
                            <td>{{ content.protocol_id.as_text() }}</td>
                            <td><a href="/content/key/{{content.key_as_hex() }}/">{{ content.key_as_hex_short() }}</a>
                            </td>
                            <td><a href="/content/id/{{content.id_as_hex() }}/">{{ content.id_as_hex_short() }}</a></td>
                            <td>{{ content.available_at_local_time() }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <div class="card shadow-sm content-card">
                <div class="card-body">
                    <h2 class="header"> Recent audits</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Audit</th>
                            <th scope="col">Result</th>
                            <th scope="col">Sub-protocol</th>
                            <th scope="col">Strategy</th>
                            <th scope="col">Content Key</th>
                            <th scope="col">Content ID</th>
                            <th scope="col">Content first available</th>
                            <th scope="col">Audited at</th>
                            <th scope="col">Client</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for (audit, content, client_info) in recent_audits %}
                        <tr>
                            <td>{% if audit.trace != "" %}<a href="/audit/id/{{ audit.id }}">{{ audit.id }}</a>{% else
                                %}
                                {{ audit.id }}{% endif %}
                            </td>
                            <td><span
                                    class="badge text-bg-{% if audit.is_success() %}success{% else %}danger{% endif %}">{%
                                if audit.is_success() %}Success{% else %}Fail{% endif %}</span></td>
                            <td>{{ content.protocol_id.as_text() }}</td>
                            <td>{{ audit.strategy_as_text() }}</td>
                            <td><a href="/content/key/{{content.key_as_hex()}}/">{{ content.key_as_hex_short() }}</a>
                            </td>
                            <td><a href="/content/id/{{content.id_as_hex()}}/">{{ content.id_as_hex_short() }}</a></td>
                            <td>{{ content.available_at_local_time() }}</td>
                            <td>{{ audit.created_at_local_time() }}</td>
                            <td>{{ client_info.version_info }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <div class="card shadow-sm content-card">
                <div class="card-body">
                    <h2 class="header"> Recent audit successes</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Audit</th>
                            <th scope="col">Result</th>
                            <th scope="col">Sub-protocol</th>
                            <th scope="col">Strategy</th>
                            <th scope="col">Content Key</th>
                            <th scope="col">Content ID</th>
                            <th scope="col">Content first available</th>
                            <th scope="col">Audited at</th>
                            <th scope="col">Client</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for (audit, content, client_info) in recent_audit_successes %}
                        <tr>
                            <td>{% if audit.trace != "" %}<a href="/audit/id/{{ audit.id }}">{{ audit.id }}</a>{% else
                                %}
                                {{ audit.id }}{% endif %}
                            </td>
                            <td><span
                                    class="badge text-bg-{% if audit.is_success() %}success{% else %}danger{% endif %}">{%
                                if audit.is_success() %}Success{% else %}Fail{% endif %}</span></td>
                            <td>{{ content.protocol_id.as_text() }}</td>
                            <td>{{ audit.strategy_as_text() }}</td>
                            <td><a href="/content/key/{{content.key_as_hex()}}/">{{ content.key_as_hex_short() }}</a>
                            </td>
                            <td><a href="/content/id/{{content.id_as_hex()}}/">{{ content.id_as_hex_short() }}</a></td>
                            <td>{{ content.available_at_local_time() }}</td>
                            <td>{{ audit.created_at_local_time() }}</td>
                            <td>{{ client_info.version_info }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <div class="card shadow-sm content-card">
                <div class="card-body">
                    <h2 class="header"> Recent audit failures</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Audit</th>
                            <th scope="col">Result</th>
                            <th scope="col">Sub-protocol</th>
                            <th scope="col">Strategy</th>
                            <th scope="col">Content Key</th>
                            <th scope="col">Content ID</th>
                            <th scope="col">Content first available</th>
                            <th scope="col">Audited at</th>
                            <th scope="col">Client</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for (audit, content, client_info) in recent_audit_failures %}
                        <tr>
                            <td>{% if audit.trace != "" %}<a href="/audit/id/{{ audit.id }}">{{ audit.id }}</a>{% else
                                %}
                                {{ audit.id }}{% endif %}
                            </td>
                            <td><span
                                    class="badge text-bg-{% if audit.is_success() %}success{% else %}danger{% endif %}">{%
                                if audit.is_success() %}Success{% else %}Fail{% endif %}</span></td>
                            <td>{{ content.protocol_id.as_text() }}</td>
                            <td>{{ audit.strategy_as_text() }}</td>
                            <td><a href="/content/key/{{content.key_as_hex()}}/">{{ content.key_as_hex_short() }}</a>
                            </td>
                            <td><a href="/content/id/{{content.id_as_hex()}}/">{{ content.id_as_hex_short() }}</a></td>
                            <td>{{ content.available_at_local_time() }}</td>
                            <td>{{ audit.created_at_local_time() }}</td>
                            <td>{{ client_info.version_info }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </ul>
    </div>
</div>

{% endblock %}
