{% extends "base.html" %}

{% block title %}Audit #{{ audit.id }}{% endblock %}

{% block content %}
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/trace/enr.js"></script>
<script src="/static/js/trace/graph.js"></script>
<script src="/static/js/trace/main.js"></script>

<div id="top-of-audit-detail">
    <div class="row">
        <div class="col">
            <ul>
                <li>Content Key: <a href="/content/key/{{content.key_as_hex() }}/">{{ content.key_as_hex() }}</a></li>
                <li>Content ID: <a href="/content/id/{{content.id_as_hex() }}/">{{ content.id_as_hex() }}</a></li>
                {% if let Some(block_number) = content.block_number() %}
                <li>Block:
                    <a href="https://etherscan.io/block/{{ block_number }}">
                        {{ content.block_number_as_html() }}
                    </a>
                </li>
                {% endif %}
                <li>Started: {{ audit.created_at }}</li>
                <li>Result: {{ audit.result.to_string() }}</li>
                <li>Strategy: {{ audit.strategy.as_str() }}</li>
            </ul>
        </div>
    </div>
    <div id="no-trace" hidden="true">No Trace Available</div>
</div>

<div id="trace" class="row">
    <div id="graph" class="w-66">
        <div id="legend-container">
            <div id="legend">
                <div class="legend-dot" id="origin"></div>
                <text>Origin</text>
                <div class="legend-dot" id="responded"></div>
                <text>Responded</text>
                <div class="legend-dot" id="no-response"></div>
                <text>No Response</text>
                <div class="legend-dot" id="no-progress"></div>
                <text>No Progress</text>
                <div class="legend-dot" id="found-content"></div>
                <text>Content Found</text>
                <div class="legend-dot" id="transfer-failure"></div>
                <text>Transfer Failure</text>
                <div class="legend-dot" id="cancelled"></div>
                <text>Request Cancelled</text>
                <div class="should-store-legend-dot" id="should-store"></div>
                <text>Should Store</text>
            </div>
            <div id="sort-toggle" class="btn-group" role="group" aria-label="Sort options">
                <button type="button" class="btn btn-sm btn-outline-secondary active" id="sort-unsorted">Unsorted</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" id="sort-by-id">Sort by ID</button>
            </div>
        </div>

    </div>
    <div id="node-table" class="w-33">
        <table class="table-sm text-xsmall">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ENR</th>
                    <th scope="col">Node ID</th>
                    <th scope="col">Distance from Content</th>
                    <th scope="col">Address</th>
                    <th scope="col">Client</th>
                    <th scope="col">Should Store</th>
                </tr>
            </thead>
            <tbody id="enr-table">

            </tbody>
        </table>
    </div>

</div>
<style>
    #sort-toggle {
        text-align: left;  /* Align with the legend */
        margin-left: 10px;  /* Match left margin of legend items if needed */
    }
    #sort-toggle .btn {
        font-size: 0.8rem;  /* Adjust font size as needed */
        padding: 0.25rem 0.5rem;  /* Reduce padding to make buttons smaller */
        line-height: 1;  /* Adjust line height to reduce button height */
    }
</style>
<script>
$(document).ready(function () {
    let trace_string = "{{ audit.trace_as_html() }}".replace(/(&#34;|&quot;)/g, '"');
    let trace = JSON.parse(trace_string);
    let graphData, graphSvg;
    
    // Retrieve sortByNodeId from localStorage, defaulting to false if not set
    let sortByNodeId = localStorage.getItem('sortByNodeId') === 'true';

    function initializeGraph() {
        let heightTaken = $('#top-of-audit-detail').height();
        let heightAvailable = Math.floor($(window).height() - heightTaken);
        $('#trace').css('height', `${heightAvailable}px`);

        graphData = createGraphData(trace);
        graphSvg = createGraph(graphData, sortByNodeId);
        $('#graph').find('svg').remove();  // Remove existing graph
        $('#graph').append(graphSvg);

        // Highlight the nodes for whom the content is within radius.
        d3.selectAll("g").selectAll("circle")
            .filter(d => {
                const node_id = d.id;
                let metadata = trace.metadata[node_id];
                if (metadata.radius !== null) {
                    const distance = BigInt(metadata.distance);
                    const radius = BigInt(metadata.radius);
                    return distance < radius;
                }
                return false;
            })
            .attr("stroke", "lightgray")
            .attr("stroke-width", 3);
        
        generateTable(graphData.nodes);

        // Update button states based on sortByNodeId
        if (sortByNodeId) {
            $('#sort-by-id').addClass('active');
            $('#sort-unsorted').removeClass('active');
        } else {
            $('#sort-unsorted').addClass('active');
            $('#sort-by-id').removeClass('active');
        }
    }

    initializeGraph();

    $('#sort-unsorted, #sort-by-id').click(function() {
        sortByNodeId = $(this).attr('id') === 'sort-by-id';
        // Store the new value in localStorage
        localStorage.setItem('sortByNodeId', sortByNodeId);
        initializeGraph();
    });

});
</script>

{% endblock %}
