{% extends "base.html" %}

{% block title %}Audit #{{ audit.id }}{% endblock %}

{% block content %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="/static/js/trace/enr.js"></script>
<script src="/static/js/trace/graph.js"></script>
<script src="/static/js/trace/main.js"></script>
<div class="row">
    <h1>Audit #{{ audit.id }}</h1>
    <div class="col">
        <ul>
            <li>Content Key: {{ content_key.as_hex() }}</li>
            <li>Content ID: {{ content_id.as_hex() }}</li>
            <li>Started: {{ audit.created_at }}</li>
            <li>Result: {{ audit.result_string() }}</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Nodes Contacted:</p>

        <p id="nodes-contacted"> </p>
        <p>Response Rate:</p>
        <p id="nodes-responded"></p>
    </div>
    <div class="col">
        <p>Trin Nodes Contacted:</p>
        <p id="trin-nodes-contacted"></p>
        <p>Trin Nodes Response Rate:</p>
        <p id="trin-nodes-responded"></p>
    </div>
    <div class="col">
        <p>Non-Trin Nodes Contacted:</p>
        <p id="non-trin-nodes-contacted"></p>
        <p>Non-Trin Nodes Response Rate:</p>
        <p id="non-trin-nodes-responded"></p>
    </div>
</div>

<div class="col" id="graph">
    <div id="legend">
        <div class="legend-dot" id="origin"></div>
        <text>Origin</text>
        <div class="legend-dot" id="responded"></div>
        <text>Responded</text>
        <div class="legend-dot" id="no-response"></div>
        <text>No Response</text>
        <div class="legend-dot" id="no-progress"></div>
        <text>No Progress</text>
        <div class="legend-dot" id="found-content"></div>
        <text>Content Found</text>
    </div>
    <!-- <div id="graph"></div> -->
    <script>
        let trace = JSON.parse("{{ audit.trace }}".replace(/&quot;/g, '"'));
        let graphData = createGraphData(trace);
        let graphSvg = createGraph(graphData);

        let metadata = graphData.metadata;
        let nodesResponded = metadata.nodesResponded / metadata.nodesContacted;
        $('#nodes-contacted').text(metadata.nodesContacted);
        $('#nodes-responded').text(Math.round(nodesResponded * 100) + '%');

        let trinNodesResponded = metadata.trinNodesResponded / metadata.trinNodesContacted;
        $('#trin-nodes-contacted').text(metadata.trinNodesContacted);
        $('#trin-nodes-responded').text(Math.round(trinNodesResponded * 100) + '%');

        let nonTrinNodesContacted = metadata.nodesContacted - metadata.trinNodesContacted;
        let nonTrinNodesResponseRate = (metadata.nodesResponded - metadata.trinNodesResponded) / nonTrinNodesContacted;
        $('#non-trin-nodes-contacted').text(nonTrinNodesContacted);
        $('#non-trin-nodes-responded').text(Math.round(nonTrinNodesResponseRate * 100) + '%');

        $('#graph').append(graphSvg);
    </script>
</div>

{% endblock %}
