{% extends "base.html" %}

{% block title %}ENR Detail{% endblock %}

{% block head %}
{% call super() %}
<script src="/static/js/trace/enr.js"></script>
{% endblock %}
{% block content %}

<ul>
    <div class="row">
        <div class="col">
            <h1>ENR Details: {{ node.node_id_as_hex() }}</h1>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow-sm enr-card">
                <div class="card-body">
                    <ul>
                        <li>
                            NodeId: <a href="/network/node/{{ node.node_id_as_hex() }}/">
                                {{ node.node_id_as_hex() }}
                            </a>
                        </li>
                        <li>Sequence Number: {{ enr.sequence_number }}</li>
                        <li>Base64: {{ enr.raw }}</li>
                    </ul>
                </div>
            </div>
            <br/>
            <div class="card shadow-sm enr-card">
                <div class="card-body">
                    <h3>Decoded ENR</h3>
                    <div id="enr-data-box" class="form-group"></div>
                </div>
            </div>
        </div>
    </div>
</ul>

<script>

    function* hexFormatValues(buffer) {
        for (let x of buffer) {
            const hex = x.toString(16)
            yield hex.padStart(2, '0')
        }
    }

    const hexByByte = new Array(256)

    function toHexString(bytes) {
        let hex = "0x"
        for (let byte of hexFormatValues(bytes)) {
            if (!hexByByte[byte]) {
                hexByByte[byte] = byte < 16 ? "0" + byte.toString(16) : byte.toString(16)
            }
            hex += hexByByte[byte]
        }
        return hex
    }

    function getDisplayValue(enr, key, value) {
        if (key === "id") {
            return value.toString()
        } else if (key === "secp256k1") {
            return toHexString(value)
        } else if (["ip", "tcp", "udp", "ip6", "tcp6", "udp6"].includes(key)) {
            const field = enr[key]
            if (!field) {
                throw new Error("Field not found.")
            }
            return field
        } else if (key === "c") {
            return value
        } else {
            // default to assuming binary data            
            return toHexString(value)
        } 
    }

    let {enr: decodedEnr, seq, signature} = ENR.ENR.decodeTxt("{{ enr.raw }}");

    function decodedEnrData(key, displayValue) {
        let container = document.getElementById("enr-data-box");
        let div = document.createElement("div");
        div.className = "input-group mb-3";
        div.innerHTML = `
        <span class="input-group-text">${key}</span>
        <input type="text" class="form-control" value="${displayValue}" disabled>
    `;

        container.appendChild(div);
    }

    decodedEnrData("signature", getDisplayValue(decodedEnr, "signature", signature));
    decodedEnrData("seq", seq);
    for (let [key, value] of decodedEnr.entries()) {
        decodedEnrData(key, getDisplayValue(decodedEnr, key, value));
    }

</script>
{% endblock %}
