{% extends "base.html" %}

{% block title %}Glados{% endblock %}

{% block head %}
<script src="/static/js/lib/d3.min.js"></script>
<script src="/static/js/piechart.js"></script>
<script src="/static/js/trace/enr.js"></script>
<script src="/static/js/radiusdensity.js"></script>
<script src="/static/js/stats_history.js"></script>
<script src="/static/js/explanations.js"></script>

<link href="/static/css/lib/spin.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container">
    </br>
    <div class="row">
        <div class="col-lg-9 col-md-6 col-sm-12 margin-bottom">
            <div class="card pie-box h-100">
                <div class="card-body">
                    <button class="question-mark" aria-label="Toggle explanation"></button>
                    <div class="explanation">
                    {% match strategy %}
                        {% when StrategyFilter::FourFours %}
                            Glados continuously queries the Portal network for random 4444s headers, blocks, and receipts.
                            Statistical results of these audits are displayed here and can be viewed in more granular detail on the Audit Dashboard.
                        {% when StrategyFilter::StateRoots %}
                            Glados continuously queries the Portal network for random state roots.
                            Statistical results of these audits are displayed here and can be viewed in more granular detail on the Audit Dashboard.
                        {% when StrategyFilter::Latest %}
                            Glados continuously queries the Portal network recent beacon block roots.
                            Statistical results of these audits are displayed here and can be viewed in more granular detail on the Audit Dashboard.
                        {% else %}
                            No explanation available for {{ strategy }}
                    {% endmatch %}

                    </div>
                    <h2>{{ strategy }} stats</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Period</th>
                                    <th scope="col">New content</th>
                                    <th scope="col">Total audits</th>
                                    <th scope="col">Total audit passes</th>
                                    <th scope="col">Total audit failures</th>
                                    <th scope="col"><span class="badge text-bg-success">Pass rate</span> (%)</th>
                                    <th scope="col"><span class="badge text-bg-danger">Failure rate</span> (%)</th>
                                    <th scope="col">Audits per minute</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stat in stats %}
                                <tr>
                                    <th scope="row">{{ stat.period.to_string() }}</th>
                                    <td>{{ new_content[loop.index0] }}</td>
                                    <td>{{ stat.total_audits }}</td>
                                    <td>{{ stat.total_passes }}</td>
                                    <td>{{ stat.total_failures }}</td>
                                    <td>{{ "{:.1}"|format(stat.pass_percent) }}%</td>
                                    <td>{{ "{:.1}"|format(stat.fail_percent) }}%</td>
                                    <td>{{ stat.audits_per_minute }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="graph1"></div>
        </div>
        <div class="col margin-bottom">
            <div class="card pie-box h-100">
                <div class="card-body">
                    <button class="question-mark" aria-label="Toggle explanation"></button>
                    <div class="explanation">
                        Every 15 minutes, Glados runs a census of all reachable Portal network nodes.
                        The results of the most recent census are displayed here, and in-depth historical data can be viewed on the Network Explorer.
                    </div>
                    <h3 style="text-align: center">Client Count</h3>
                    <div id="graph2" style="display: flex; justify-content: center; align-items: center;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-12 margin-bottom">
            <div class="card pie-box h-100">
                <div class="card-body">
                    <button class="question-mark" aria-label="Toggle explanation"></button>
                    <div class="explanation">
                        The Y-axis shows the radius as a percentage of the content keyspace.
                        The X-axis shows the node ID of each node found during
                        the most recent census of the network, which runs every 15 minutes.
                        The individual clients are color coded: blue for Fluffy, purple for Trin, red for Shisui,
                        and orange for Ultralight.
                    </div>
                    <div class="table-responsive">
                        <div id="census-scatterplot"></div>
                    </div>
                </div>
            </div>
            <div id="hover" style="pointer-events: none; position: absolute; z-index: 9999; opacity: 0;"></div>
        </div>
        <div class="col-lg-7 col-md-12 margin-bottom">
            <div class="card pie-box h-100">
                <div class="card-body">
                    <button class="question-mark" aria-label="Toggle explanation"></button>
                    <div class="explanation">
                        This graph shows a week's worth of success rate statistics for the various audits that Glados runs,
                        as well as for the types of content that it audits.
                    </div>
                    <div id="stats-history-graph"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-13 col-md-18 col-sm-18 margin-bottom">
            <div class="card pie-box h-100">
                <div class="card-body">
                    <button class="question-mark" aria-label="Toggle explanation"></button>
                    <div class="explanation">
                        This graph shows the redundancy at each given band of Portal network keyspace during the most recent network census.
                        Each node on the network advertises a radius that describes the band of data that it is responsible for.
                        The graph shows the number of nodes that store each part of the keyspace.
                        <br />
                        <br />
                        The darker color represents the nodes that are
                        responsible for every key in that band, while the
                        lighter color represents the nodes that are only
                        responsible for a portion of the keys in that band. So
                        the darker color shows the guaranteed redundancy
                        of properly functioning nodes, while the lighter color
                        shows the average redundancy. Three nodes that
                        cover half the keyspace in a band would show up as an
                        average coverage of 1.5 in the lighter color. On
                        average, every piece of content is stored 1.5 times,
                        but in the worst case, half the keys would be stored 3
                        times, and the other half 0 times. A chart that is
                        mostly lighter color would be suspect until you split
                        the bands into narrower slices, to see if the
                        redundancy is evenly distributed.
                    </div>
                    <div class="table-responsive">
                        <div id="census-stacked"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% if subprotocol == SubProtocol::History %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 margin-bottom">
            <div class="card pie-box h-100">
                <div class="card-body">
                    <button class="question-mark" aria-label="Toggle explanation"></button>
                    <div class="explanation">
                        This graph shows the result of the latest audit for each block
                    </div>
                    <div class="table-responsive">
                        <select
                            id="audit-block-status-content-type"
                            class="form-select"
                            style="width: auto"
                        >
                        {% for content_type in content_types %}
                            <option value = "{{content_type.get_serializations()[0]}}">{{content_type.get_message().unwrap()}}</option>
                        {% endfor %}
                        </select>
                        <div id="audit-block-status-graph-container" style="position: relative">
                            <div id="audit-block-status-graph"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endif %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 margin-bottom">
            <div class="card pie-box h-100">
                <div class="card-body">
                    <button class="question-mark" aria-label="Toggle explanation"></button>
                    <div class="explanation">
                        This graph shows the amount of nodes that were reachable at each census (every 15 minutes).
                    </div>
                    <div class="table-responsive">
                        <div id="census-weekly-graph"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    pie_chart_count({{ client_diversity_data| json | safe }});
    const census_data = {{ average_radius_chart| json | safe }};
    radius_node_id_scatter_chart(census_data);
    radius_stacked_chart(census_data);
    statsHistoryChart();

</script>
<script type="module">
    import {censusWeeklyChart} from "../static/js/census_weekly.js";
    censusWeeklyChart();

    import {auditBlockStatusChart} from "../static/js/audit_block_status.js";
    auditBlockStatusChart();
</script>

{% endblock %}
