{% extends "base.html" %}

{% block title %}Glados{% endblock %}

{% block head %}
<script src="/static/js/d3.min.js"></script>
<link rel="stylesheet" href="/static/css/homepage.css">
<script src="/static/js/piechart.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="header">
    <h1>Glados</h1>
  </div>

  <div class="menu">
    <a href="/content/">Content Dashboard</a>
    <a href="/network/">Network Explorer</a>
  </div>

  <div class="graphBox">
    <div class="col">
      <div id="graph1" class="box"></div>
    </div>
    <div class="col">
      <div class="box">
        <h3 style="text-align: center">Client Count</h3>
        <div id="graph2"></div>
<!--        <canvas id="pieChart"></canvas>-->
      </div>
    </div>
  </div>
</div>


<script>

   pie_chart_count({{ pie_chart_client_count|json|safe }})

</script>



{% endblock %}