{% extends "base.html" %}

{% block title %}Glados{% endblock %}

{% block head %}
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/piechart.js"></script>
<script src="/static/js/radiusdensity.js"></script>
<link href="/static/css/homepage.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 margin-bottom">
            <div class="card pie-box h-100">
                <div class="card-body">
                    <h1 class="card-title">List of past census's </h1>
                </div>
            </div>
        </div>
        <div class="col-12 margin-bottom">
            <div class="card pie-box h-100">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Node Count</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for census in census_data %}
                            <tr>
                                <td><a class="link-primary" href="/census/?census-id={{ census.census_id }}">{{ census.census_id }}</a></td>
                                <td>{{ census.created_at }}</td>
                                <td>{{ census.node_count }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2">
        <nav aria-label="census explorer navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if list_census_page_id == 1 %}disabled{% endif %}">
                    <a class="page-link" href="/census/census-list/?page={{ list_census_page_id - 1}}">Previous</a>
                </li>
                <li class="page-item {% if list_census_page_id == 1 %}active{% endif -%}"><a class="page-link" href="/census/census-list/?page=1">1</a></li>
                {% if max_census_id / 50 + 1 != 1 %}
                <li class="page-item {% if list_census_page_id != 1 && list_census_page_id != max_census_id / 50 + 1 %}active{% endif %}">
                    {% if list_census_page_id == 1 %}
                    <a class="page-link" href="/census/census-list/?page={{ list_census_page_id + 1 }}">{{ list_census_page_id + 1 }}</a>
                    {% else if list_census_page_id == max_census_id / 50 + 1 %}
                    <a class="page-link" href="/census/census-list/?page={{ list_census_page_id - 1 }}">{{ list_census_page_id - 1 }}</a>
                    {% else %}
                    <a class="page-link" href="/census/census-list/?page={{ list_census_page_id }}">{{ list_census_page_id }}</a>
                    {% endif %}
                </li>
                <li class="page-item {% if list_census_page_id == max_census_id / 50 + 1 %}active{% endif %}"><a class="page-link" href="/census/census-list/?page={{ max_census_id / 50 + 1 }}">{{ max_census_id / 50 + 1 }}</a></li>
                {% endif %}
                <li class="page-item {% if list_census_page_id == max_census_id / 50 + 1 %}disabled{% endif %}">
                    <a class="page-link" href="/census/census-list/?page={{ list_census_page_id + 1 }}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}
