[package]
name = "entity"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.22"
sea-orm = { version = "0.10.1", features = ["sqlx-postgres", "sqlx-sqlite", "macros", "runtime-tokio"] }
