version: 2.1
orbs:
  rust: circleci/rust@1.6.0
executors:
  docker-publisher:
    docker:
      - image: cimg/rust:1.71.1
jobs:
  docker-build-glados-web-and-publish:
    resource_class: xlarge
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          no_output_timeout: 30m
          command: docker build -f glados-web/Dockerfile -t portalnetwork/glados-web:latest --build-arg GIT_HASH=$CIRCLE_SHA1 .
      - run:
          name: Publish docker image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push portalnetwork/glados-web:latest
  docker-build-glados-monitor-and-publish:
    resource_class: xlarge
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          no_output_timeout: 30m
          command: docker build -f glados-monitor/Dockerfile -t portalnetwork/glados-monitor:latest --build-arg GIT_HASH=$CIRCLE_SHA1 .
      - run:
          name: Publish docker image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push portalnetwork/glados-monitor:latest
  docker-build-glados-cartographer-and-publish:
    resource_class: xlarge
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          no_output_timeout: 30m
          command: docker build -f glados-cartographer/Dockerfile -t portalnetwork/glados-cartographer:latest --build-arg GIT_HASH=$CIRCLE_SHA1 .
      - run:
          name: Publish docker image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push portalnetwork/glados-cartographer:latest
  docker-build-glados-audit-and-publish:
    resource_class: xlarge
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          no_output_timeout: 30m
          command: docker build -f glados-audit/Dockerfile -t portalnetwork/glados-audit:latest --build-arg GIT_HASH=$CIRCLE_SHA1 .
      - run:
          name: Publish docker image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push portalnetwork/glados-audit:latest
  lint-build-test:
        description: |
            Check linting with Clippy and rustfmt, build the crate, and run tests.
        resource_class: large
        executor:
            name: rust/default
            tag: 1.70.0
        environment:
            RUSTFLAGS: '-D warnings'
            RUST_LOG: 'debug'
        steps:
            - checkout
            - run:
                name: Prepare for apt upgrades
                command: sudo apt update
            - run:
                name: Install libssl-dev for openssl-sys
                command: sudo apt install -y libssl-dev
            - run:
                name: Install rustfmt
                command: rustup component add rustfmt
            - run:
                name: Run rustfmt
                command: cargo fmt --all -- --check
            - run:
                name: Install Clippy
                command: rustup component add clippy
            - run:
                name: Run Clippy
                command: cargo clippy --all --all-targets --all-features --no-deps -- --deny warnings
            - run:
                name: Build Glados workspace
                command: cargo build --workspace
            - run:
                name: Test Glados workspace
                command: cargo test --workspace -- --nocapture
workflows:
  merge-test:
    jobs:
      - docker-build-glados-web-and-publish:
          filters:
            branches:
              only: master
      - docker-build-glados-monitor-and-publish:
          filters:
            branches:
              only: master
      - docker-build-glados-cartographer-and-publish:
          filters:
            branches:
              only: master
      - docker-build-glados-audit-and-publish:
          filters:
            branches:
              only: master
      - lint-build-test
