.dashboard-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    height: 100%;
    width: 98%;
}


.header {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}