.content-card {
    border-radius: 10px;
    width: 98%;
    height: 100%;
    border: 2px white;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333333;
}

.header {
    margin-bottom: 10px;
}

.pie-box {
    border-radius: 20px;
    border: 2px solid white;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.card-box {
    border-radius: 20px;
    display: inline-block;
    border: 2px solid white;
}

.enr-card {
    border-radius: 10px;
    width: 98%;
    height: auto;
    border: 2px white;
}
