.content-card {
    border-radius: 10px;
    width: 98%;
    height: 100%;
    border: 2px white;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333333;
}

.header {
    margin-bottom: 10px;
}

.pie-box {
    border-radius: 20px;
    border: 2px solid white;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.card-box {
    border-radius: 20px;
    display: inline-block;
    border: 2px solid white;
}

.enr-card {
    border-radius: 10px;
    width: 98%;
    height: auto;
    border: 2px white;
}

.element-with-question-mark {
    position: relative;
}

.question-mark {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.question-mark::after {
    content: "?";
}

.explanation {
    position: absolute;
    top: 30px;
    right: 5px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    font-size: 12px;
    display: none;
    z-index: 10;
}

.question-mark.active + .explanation {
    display: block;
}
